<div class="container" >
	<div class="col-md-6">
		<h3>Users from Admin Component</h3> 
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email Id</th>
						<th>Phone No</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of userRecord" >
						<td>{{item.userName}}</td>
						<td>{{item.emailId}}</td>
						<td>{{item.phoneNumber}}</td>
					</tr>
				</tbody>
			</table>
	</div>
	<div class="col-md-6" >
	<user-comp [resultAr]= "userRecord" ></user-comp>
	</div>
</div>
				

  



		
  
