<div class="row">  
  <h3>Search User</h3>  
 <div class="input-group input-group-lg">  
  <span class="input-group-addon glyphicon glyphicon-search" ></span>  
  <input #input1 type="text" class="form-control" placeholder="Search User Name">  
</div>  
    <br>  
    <button (click)="onClick(input1.value)"  type="button" class="btn btn-primary">Search</button>  
</div> 
<div class="container" >
    <div class="col-md-6">
        <h3>filtered Users </h3>  
            <table class="table table-responsive">
                <thead>
                 <tr>
                    <th>Name</th>
                    <th>Email Id</th>
                    <th>Phone No</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of resultAr" >
                        <td>{{item.userName}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
        
